SERVER_HOST_NAME = 'localhost'

API_SERVER_HOST = '0.0.0.0'
API_SERVER_PORT = '3000'

API_PORT_IN = 80
API_PORT_OUT = 3000


DB_PORT_IN = 5440
DB_PORT_OUT = 5432
DB_TAG = 13.4
DB_NAME_DB = 'logs_buffer'
DB_USER = 'postgres'
DB_PASSWORD = 'mysecretpassword'
DB_HOST = 'db'
DB_PORT = 5432


CLICKHOUSE_USER = 'default'
CLICKHOUSE_PASSWORD = ''
CLICKHOUSE_HOST = 'clickhouse'
CLICKHOUSE_PORT = 9000
CLICKHOUSE_NAME_DB = 'logs_prod'